<div class="container mt-5">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <hr>
  <%# <h3>Reviews <%= link_to "Write", new_restaurant_review_path %>
  <%# <hr> %>
  <% @restaurant.reviews.each do |review| %>
    <%# <p><%= review.rating %>
    <div class="d-flex">
      <% review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class="far fa-star"></i>
      <% end %>
    </div>
    <p><%= review.content %></p>
    <hr>
  <% end %>
</div>
